@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
    @apply py-2 px-4 rounded;
}




.card {
    @apply rounded overflow-hidden shadow-lg;
}

.select2-dropdown {
    @apply rounded-b-lg shadow-md;
  }
  .select2-search {
    @apply border border-gray-300 rounded;
  }
  .select2-results__group {
    @apply text-lg font-bold text-gray-900;
  }

  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }

  .btn-secondary {
    @apply py-2 px-4 bg-gray-500 text-white font-semibold rounded-lg shadow-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-75;
  }

.container-fluid{
  @apply container mx-auto px-4 px-8 ;
}

.inputText{
  @apply placeholder:italic placeholder:text-slate-400 block bg-white w-full content-center border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm;
}

.espacio-y4{
 @apply space-y-4;
}

.flex-button{
  @apply flex space-x-4;
}

.flex-forms{
  @apply flex flex-col space-y-4;
}

.fullCenter{
  @apply flex justify-center content-center flex-wrap flex-col; 
}



